html{
font-size: 62.5%;    
}

body{
font-family: 'Roboto Mono', monospace;
font-size: 1.6rem;
text-align: center;    
}

nav ul{
    list-style-type: none;    
}

nav ul li {
    padding:1.5rem 2.5rem;
    display:inline-block;
    border-radius: 20%;
    margin:5rem 15rem;
    max-width: 11rem;
}

nav ul li:nth-child(1){ 
background-color: #FF764E;
}

nav ul li:nth-child(2){ 
    background-color: #5ED3EB;
    }

nav ul li:nth-child(3){ 
        background-color: #FFCD69;
        }

nav ul li a {
    text-decoration: none;
    color: white;
  }

  header div{
    display:inline-block;
    vertical-align: middle;
  }
  .mountain-img img{
      border-radius: 50%;
      width: 25rem;
  }
  h1{
      font-family: 'Chelsea Market', cursive;
      font-size: 5rem;
  }
  .header-text2{
      width: 50%;
  }
  main{
      background-color: #DDB9A3;
      color: white;
      width: 75%;
      margin: 4rem auto;
      height: 18rem;
      line-height: 2;
      padding: 2rem 0;
      font-size: 1.5rem;
  }
  .fire{
      width: 20%;
      margin: 0 auto;
      text-align: center;
  }
  .fire img{
      height: 100%;
      width: 100%;
  }

  .rv{
    width: 20%;
    margin: 0 auto;
    text-align: center;
}
.rv img{
    height: 100%;
    width: 100%;
}
  .bold{
      font-weight: bold;
  }
footer{
    background-color:#F9E7DC;
}
footer img{
    width:100vw;
    height: 40vh;
    object-fit: cover;
    object-position: center 20%;
}

  